/*variables*/
$primary: #9356DC;
$secondray: #FF79DA; 
$tertiary: #99E2D0;
$gradien: linear-gradient(#FF79DA,#9356DC  90%);
/*MIXINS*/
@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexbox-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    font-family: 'Roboto';
}
#header_bloc {
    @include flex-between();
    padding-bottom: 20px;
    width: 100%;
    height: 100px;
}
.header_arrow a {
    padding-left: 20px;
    color: black;
    font-size: 20px;
    width: 50%;
}
.header_arrow a:visited {
    color: black;
}
.header_logo {
    display: flex;
    column-gap: 50px;
    align-content: center;
    align-items: center;
    align-self: center;
    height: 40px;
}
.header_logo img {
    width: 140px;
}
.header_cov-photo {
    width: 100%;
    height: 55vh;
}
.header_cov-photo img{
    width: 100%;
    height:100%;
    object-fit: cover;
    
}
/*menu*/
#menu_bloc {
    display: inline-block;
    flex-direction: column;
    background-color: #efefee;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 840px;
    margin-top: -40px;

}
.menu_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-heart {
    content: "\f004";
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
    background-color: black ;
    font-weight: bold;
    font-size: 35px;
    padding-right: 20px;
   
}
.fa-heart:hover {
    color: transparent;
    background: linear-gradient(#FF79DA,#9356DC  90%);
    background-clip: text;
    -webkit-background-clip: text;

}
.menu_title h1 {
    font-family: 'Shrikhand';
    padding-left: 20px;
}
.menu_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10px;
    margin-bottom: 40px;
}
.menu_box {
    display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
}
.menu_box-title {
    padding-left: 5px;
    padding-bottom: 5px;
}

.menu_underline-effect {
    border-bottom: #99E2D0 solid 3px;
    width: 40px;
    padding-top: 5px;
}
.menu_case {
    width: 95%;
    height: 100px;
    border: #EFEFEE solid;
    border-radius: 20px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-left: 10px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    animation: scale 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*animation case déroulé*/
@keyframes scale {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  /**********/
.menu_legende {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.menu_legende:hover {
    padding-right: 70px;
    transition: 0.5s ease;
}
.menu_legende-title {
    margin-left: 20px;
    white-space: nowrap;
    
}

.menu_legende p {
    margin: 0;
    padding-top: 5px;
    font-size: 0.9em;
    text-overflow: ellipsis;  
    overflow: hidden;
}

.menu_tarifs {
    font-weight: bold;
    padding-top: 16px;
    padding-right: 20px;
    padding-left: 10px;
    overflow: hidden;
}
.menu_case:hover .menu_tarifs{
    padding-right: 70px;
    transition: 0.5s ease;
}
.menu_case:hover .anim_valid {
    
    @include flexbox-center();
    transform-origin:right;
    animation: slide-left 0.5s ease;
}
.menu_case .anim_valid {
    display: none;
    position: absolute;
    background-color: $tertiary;
    border-radius: 0 15px 15px 0;
    right: 0px;
    padding: 0 13px;
    height: 100%;
    width: 10%;   
}

.fa-check-circle {
    content:  "\f058";
    font-size: 35px;
    color: white;
    align-self: center;
    transform: rotate(180deg);
    animation: rotate 0.5s both;
}

/*animations*/
@keyframes rotate{
    0% {
        
        transform: rotate(0deg);
        opacity: 0;
    }
    100% {
        
        transform: rotate(360deg);
        opacity: 1;
    }
  }

  @keyframes slide-left {
    0% {
     
        transform: translateX(0px);
    }
    100% {
      
        transform: translateX(25px);
    }
  }
.command {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.command_button {
    border-radius: 40px;
    font-size: 1.1em;
    height: 55px;
    width: 20%;
    background: $gradien;
    border: none;
    color: white;
}
/*footer*/
    #footer_bloc {   
    background-color: rgb(56, 56, 56);
    width: 100%;
    padding-left: 20px;
    padding-bottom: 40px;
    }
    .footer_logo img {
        width: 100px;
        padding-bottom: 20px;
        padding-top: 30px;
    }
    .footer_navbar a {
        text-decoration: none;
        color: white;
    }
    .footer_navbar {
        display: flex;
        flex-direction: row;
        row-gap: 10px;
        column-gap: 10px;
    }
    .footer_navbar-r, .footer_navbar-p {
        display: flex; 
        column-gap: 5px;
    }
    .footer_i-ustensil {
        color: white;
        padding-right: 15px;
        width: 10%;
        
    }
    .footer_i-hand {
        color: white;
        padding-right: 15px;
        width: 10%;
        
    }
    /*responsive*/
    @media all and (max-width: 800px) {
        body {
            margin-left: 5px;
            margin-right: 5px;
        }
        .header_cov-photo img{
            margin-top: -50px;
        }
        #menu_bloc {
            padding-left: 5px;
            padding-bottom: 50px;
            width: 100%;
            height: 100%;
            margin-top: -200px;
        }
        .menu_title h1 {
            padding-left: 5px;
        }
        .menu_boxes {
            display: flex;
            flex-direction: column;
            padding-left: 0;
        }
        .menu_box {
            row-gap: 10px;
        }
        .menu_case {
            width: 95%;
            height: 70px;
            margin: 0;
        }
        .command {
            padding-top: 20px;
        }
        .command_button {
            width: 65%;
        }
        #footer_bloc {
            display: flex;
            flex-direction: column;
        }
        .footer_navbar {
            display: flex;
            flex-direction: column;
        }
    }
    @media all and (max-width: 1080px) {
        #menu_bloc {
            height: 100%;
        }
        .menu_boxes {
            display: flex;
            flex-direction: column;
        }
    }