@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('fonts/Shrikhand-Regular.otf');
}
body {
    box-sizing: border-box;
}
body p {
    margin: 0;
}
@media all and (max-width: 700px) {
    * {
        font-family: 'Roboto-Regular';
    }
}
/*header*/
/*logo*/
@media all and (max-width: 700px) {
    #bloc_header {
        display: flex;
        padding-bottom: 20px;
        width: 100%;
        height: 100px;
    }
    .arrow {
        padding-left: 20px;
        color: black;
    }
    .arrow:visited {
        color: black;
    }
    .e_logo {
        display: flex;
        column-gap: 50px;
        align-content: center;
        align-items: center;
        height: 40px;
    }
    .e_logo img {
        width: 140px;
    }
    .cov_photo {
        width: 100%;
        height: 55vh;
    }
    .cov_photo img{
        width: 100%;
        height:100%;
        object-fit: cover;
        margin-top: -80px;
    }
}
/*Menu*/
@media all and (max-width: 700px) {
    #menu {
        display: inline-block;
        flex-direction: column;
        background-color: #efefee;
        border-radius: 20px 20px 0 0;
        padding-left: 10px;
        padding-bottom: 50px;
        width: 95%;
        padding-right: 10px;
        margin-top: -200px;

    }
    .titre_menu {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        align-items: center;
        justify-content: space-between;
    }
    h1 {
        font-family: 'Shrikhand-Regular';
        font-size: 1.6em;
        margin: 0;
    }
    .i_heart {
        font-size: 30px;
        font-weight: lighter;
        padding-right: 30px;
    }
    /*Entrées*/
    .underline_effect {
        border-bottom: #99E2D0 solid 3px;
        width: 40px;
        padding-top: 5px;
    }
    .selection-entree {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        row-gap: 10px;
    }
    .entree_1, .entree_2, .entree_3, .entree_4 {
        width: 95%;
        height: 70px;
        border: #EFEFEE solid;
        border-radius: 20px;
        display: flex;
        column-gap: 20px;
        align-items: center;
        justify-content: space-between;
        background: white;
        padding-left: 10px;
    }
    .entree_1 p, .entree_2 p, .entree_3 p, .entree_4 p {
        font-size: 0.9em;
        padding-top: 5px;
    }
    .tarifs {
        font-weight: bold;
        padding-top: 16px;
        padding-right: 20px;
    }
/*Plats*/
    .selection-plats {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        row-gap: 10px;
    }
    .plat_1, .plat_2, .plat_3 {
        width: 95%;
        height: 70px;
        border: #EFEFEE solid;
        border-radius: 20px;
        display: flex;
        column-gap: 20px;
        align-items: center;
        justify-content: space-between;
        background: white;
        padding-left: 10px;
    }
    .plat_1 p, .plat_2 p, .plat_3 p {
        font-size: 0.9em;
        padding-top: 5px;
    }
    
/*Desserts*/
    .selection-desserts {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        row-gap: 10px;
    }
    .dessert_1, .dessert_2, .dessert_3 {
        width: 95%;
        height: 70px;
        border: #EFEFEE solid;
        border-radius: 20px;
        display: flex;
        column-gap: 20px;
        align-items: center;
        justify-content: space-between;
        background: white;
        padding-left: 10px;
    }
    .dessert_1 p, .dessert_2 p, .dessert_3 p {
        font-size: 0.9em;
        padding-top: 5px;
    }
    .command {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .command_button {
        border-radius: 40px;
        font-size: 1.1em;
        height: 55px;
        width: 65%;
        background: linear-gradient(#FF79DA,#9356DC  90%);
        border: none;
        color: white;
    }
}
/*FOOTER*/
@media all and (max-width: 700px) {
    #bloc_end {
        background-color: rgb(56, 56, 56);
        width: 95%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-bottom: 40px;
        }
        .logo_end img {
            width: 100px;
            padding-bottom: 20px;
            padding-top: 30px;
        }
        .navbar_end a {
            text-decoration: none;
            color: white;
        }
        .navbar_end {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            column-gap: 10px;
        }
        .navbar_restaurant, .navbar_partenaire {
            display: flex; 
        }
        .i_ustensil {
            color: white;
            padding-right: 15px;
            width: 10%;
            
        }
        .i_hand {
            color: white;
            padding-right: 15px;
            width: 10%;
            
        }
}